main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    text-align: center;
}

.Red-Sq {
    background-color: lightskyblue;
    height: 100px;
    width: 100px;
}

.Black-Sq {
    background-color: grey;
    height: 100px;
    width: 100px;
}

.red-checker {
    width: 55px;
    height: 55px;
    background-color: red;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    cursor: grab;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    
}

.black-checker {

    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    cursor: grab;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;

}